* {
    margin: 0;
    padding: 0;
    border: none;
}

/* 设置总体页面根标签的样式 */
:root {
    background: url("https://api.dujin.org/bing/1920.php") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}


/* 设置全局按钮激活样式 */


select {
    border-radius: 10px;
    background-color: rgba(136, 236, 204, 0.4);
    user-select: none;
}


.router-link-active {
    text-decoration: none;
}
